// Colors
$clr-primary: hsl(185, 70%, 28%);
$clr-neutral-800: hsl(230, 6%, 21%);
$clr-neutral-600: hsl(229, 5%, 41%);
$clr-neutral-400: hsl(0, 0%, 82%);
$clr-neutral-300: hsl(0, 0%, 85%);
$clr-neutral-200: hsl(0, 0%, 96%);
$clr-neutral-100: hsl(0, 0%, 100%);

/* =================
Typography
================= */
// General
$ff: 'Poppins', sans-serif;
$fs-small: (
    xs: 0.75rem,
    xxl: 0.875rem
);

$fs-p: (
    xs: 0.875rem,
    xxl: 1.25rem
);

$fs-1: (
    xs: 2.5rem, 
    xxl: 5rem
);

$fs-2: (
    xs: 1.875rem,
    xxl: 4.375rem
);

$fs-3: (
    xs: 1.25rem,
    xxl: 3rem
);

$fs-4: (
    xs: 1rem,
    xxl: 1.875rem
);

// Hero section
$fs-nav-logo: (
    xs: 1.125rem,
    xxl: 1.5rem
);

$fs-nav-link: (
    xs: 1rem,
    xxl: 1.375rem
);

$fs-h1-span: (
    xs: 1.875rem,
    xxl: 3.75rem
);

$fs-btn-hero: (
    xs: 1rem,
    xxl: 1.375rem
);

// Section
$fs-btn: (
    xs: 0.875rem,
    xxl: 1.125rem
);

$fs-tag: (
    xs: 0.75rem,
    xxl: 0.875rem
);

$fs-certificate-by: (
    xs: 0.75rem,
    xxl: 1.125rem
);

// Card
$fs-card-label: 0.875rem;
$fs-card-body: 0.75rem;
$fs-card-title: 1.5rem;
$fs-card-btn: 0.875rem;
$fs-card-tag: 0.75rem;

/* =================
Layout
================= */
$spacer-xs: 0.25em;
$spacer-sm: 0.5em;
$spacer: 1em;
$spacer-md: 1.5em;
$spacer-lg: 3em;
$spacer-xl: 4em;

// Breakpoints
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

// Default wrapper
$wrapper-width: 90%;
$wrapper-margin: calc((100% - $wrapper-width) / 2);
$wrapper-width-xxl: 75%;
$wrapper-margin-xxl: calc((100% - $wrapper-width-xxl) / 2);

// Animations
$menu-anim-spd: 350ms;
$menu-anim-timing-func: ease-in;

/* =================
Other
================= */
$shadow: 2px 2px 15px hsla(0, 0%, 0%, 20%); 
$br: 6px;