// Colors
$clr-primary: hsl(185, 70%, 28%);
$clr-neutral-800: hsl(230, 6%, 21%);
$clr-neutral-600: hsl(229, 5%, 41%);
$clr-neutral-400: hsl(0, 0%, 82%);
$clr-neutral-300: hsl(0, 0%, 85%);
$clr-neutral-200: hsl(0, 0%, 96%);
$clr-neutral-100: hsl(0, 0%, 100%);

/* =================
Typography
================= */
// General
$ff: 'Poppins', sans-serif;
$font-breakpoints: xs, sm, md, lg, xl, xxl;
$fs-small: (
    xs: 0.75rem,
    sm: 0.75rem,
    md: 0.75rem,
    lg: 0.875rem,
    xl: 0.875rem,
    xxl: 0.875rem
);

$fs-p: (
    xs: 0.875rem,
    sm: 0.875rem,
    md: 1rem,
    lg: 1rem,
    xl: 1.125rem,
    xxl: 1.25rem
);

$fs-1: (
    xs: 2.5rem,
    sm: 2.75rem,
    md: 3.25rem,
    lg: 3.75rem,
    xl: 4rem,
    xxl: 5rem
);

$fs-2: (
    xs: 1.875rem,
    sm: 2rem,
    md: 2.5rem,
    lg: 3rem,
    xl: 3.375rem,
    xxl: 4.375rem
);

$fs-3: (
    xs: 1.25rem,
    sm: 1.375rem,
    md: 1.5rem,
    lg: 1.875rem,
    xl: 2.25rem,
    xxl: 3rem
);

$fs-4: (
    xs: 1rem,
    sm: 1.125rem,
    md: 1.25rem,
    lg: 1.375rem,
    xl: 1.5rem,
    xxl: 1.875rem
);

// Hero section
$fs-nav-logo: (
    xs: 1.125rem,
    sm: 1.25rem,
    md: 1.25rem,
    lg: 1.375rem,
    xl: 1.4375rem,
    xxl: 1.5rem
);

$fs-nav-link: (
    xs: 1rem,
    sm: 1rem,
    md: 1rem,
    lg: 1.125rem,
    xl: 1.25rem,
    xxl: 1.375rem
);

$fs-h1-span: (
    xs: 1.875rem,
    sm: 2rem,
    md: 2.25rem,
    lg: 2.5rem,
    xl: 3rem,
    xxl: 3.75rem
);

$fs-btn-hero: (
    xs: 1rem,
    sm: 1rem,
    md: 1.125rem,
    lg: 1.125rem,
    xl: 1.25rem,
    xxl: 1.375rem
);

// Section
$fs-btn: (
    xs: 0.875rem,
    sm: 0.875rem,
    md: 0.875rem,
    lg: 1rem,
    xl: 1rem,
    xxl: 1.125rem
);

$fs-tag: (
    xs: 0.75rem,
    sm: 0.75rem,
    md: 0.75rem,
    lg: 0.875rem,
    xl: 0.875rem,
    xxl: 0.875rem
);

$fs-certificate-by: (
    xs: 0.75rem,
    sm: 0.75rem,
    md: 0.75rem,
    lg: 0.875rem,
    xl: 1rem,
    xxl: 1.125rem
);

// Card
$fs-card-label: 0.875rem;
$fs-card-body: 0.75rem;
$fs-card-title: 1.35rem;
$fs-card-btn: 0.875rem;
$fs-card-tag: 0.75rem;

/* =================
Layout
================= */
$spacer-xs: 0.25em;
$spacer-sm: 0.5em;
$spacer: 1em;
$spacer-md: 1.5em;
$spacer-lg: 3em;
$spacer-xl: 4em;

// Breakpoints
$breakpoints: (
    xs: 0px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1600px
);

// Wrappers
$wrappers: (
    xs: (
        width: 90%,
        margin: calc((100% - 90%) / 2)
    ),
    sm: (
        width: 87.5%,
        margin: calc((100% - 87.5%) / 2)
    ),
    md: (
        width: 70%,
        margin: calc((100% - 70%) / 2)
    ),
    lg: (
        width: 85%,
        margin: calc((100% - 85%) / 2)
    ),
    xl: (
        width: 85%,
        margin: calc((100% - 85%) / 2)
    ),
    xxl: (
        width: 80%,
        margin: calc((100% - 80%) / 2)
    ),
    xxxl: (
        width: 75%,
        margin: calc((100% - 75%) / 2)
    )
);

/* =================
Animations
================= */
$menu-anim-spd: 350ms;
$menu-anim-timing-func: ease-in;

/* =================
Other
================= */
$btn-mix-value: 70%;
$shadow: 2px 2px 15px hsla(0, 0%, 0%, 20%);
$shadow-light: 2px 2px 10px hsla(0, 0%, 0%, 10%);
$br: 6px;