@use '../abstracts' as *;

.about-container {
    flex-direction: column;
    align-items: stretch;
}

// Technical skills
.about-tech-list {   
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    padding: 0 0 $spacer;
    list-style: none;

    img {
        width: 20px;
        margin-right: calc($spacer * 0.85);
    }

    img.small {
        transform: scale(0.8);
    }
}

.about-tech-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: $spacer-sm;
}

// Certificates
.certificate {
    position: relative;
    margin-block: calc($spacer * 0.75);
    padding: $spacer-sm;
    padding-left: 1.5em;
    border-radius: 5px;

    &:nth-of-type(odd) {
        background-color: $clr-neutral-200;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 100%;
            background-color: darken($clr-neutral-200, 20%);
            border-radius: 5px 0 0 5px;
        }
    }

    &:nth-of-type(even) {
        background-color: $clr-bg-certificate;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 100%;
            background-color: $clr-bg-certificate-before;
            border-radius: 5px 0 0 5px;
        }
    }

    &:first-of-type {
        margin-top: calc($spacer * 2.25);
    }

    &:last-of-type {
        margin-bottom: $spacer-md;
    }
}

.certificate-container {
    align-items: flex-start;
}

.certificate-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .certificate-by {
        margin: 0;
    }
}

.certificate-link-icon {
    transform: scale(0.9);
}