@use '../abstracts' as *;

.hero-section {
    min-height: 85vh;
    padding-top: 4em;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-image {
    margin-block: $spacer-xl $spacer-md;
}

.hero-body {
    order: 1;
}

h1 {
    margin-bottom: $spacer;
}