@use '../abstracts' as *;

.hero-section {
    min-height: 100vh;
    padding-top: 7.2em;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-image {
    margin-block: $spacer-xl $spacer-md;
}

.hero-body {
    order: 1;
    margin-bottom: $spacer-md;
}

h1 {
    margin-bottom: $spacer;
}

@include media(xxl) {
    .hero-container {
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        height: 600px;
    }

    h1 {
        margin-block: 0;
    }

    .hero-image {
        align-self: flex-end;
    }

    .hero-body {
        max-width: 50%;
        margin-top: 4em;
        order: 0;
    }
}