@use '../abstracts' as *;

// Layout
.hero-section {
    min-height: 100vh;
    padding-top: 7.2em;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-image {
    margin-block: $spacer-xl $spacer-md;
}

.hero-body {
    order: 1;
    margin-bottom: $spacer-md;
}

@include media(lg) {
    .hero-container {
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        height: 550px;
    }

    h1 {
        margin-block: 0;
    }

    .hero-image {
        align-self: flex-end;
        max-width: 48%;
    }

    .hero-body {
        max-width: 48%;
        margin-top: 3em;
        order: 0;
    }
}

@include media(xl) {
    .hero-container {
        height: 575px;
    }

    .hero-body {
        margin-top: 3.5em;
    }
}

@include media(xxl) {
    .hero-container {
        height: 600px;
    }

    .hero-body {
        margin-top: 4em;
    }
}