@use '../abstracts' as *;

.project-container {
    display: flex;
    flex-direction: column;
}

.project-content-group {
    margin-block: $spacer $spacer-xl;
}

.project-tech-list {
    display: flex;
    justify-content: start;
    gap: $spacer;
    padding-inline: 0;
    margin-bottom: $spacer-md;
    list-style: none;

    li {
        position: relative;
        padding: 0.25em 0.6em;
        text-align: center;
        color: $clr-neutral-100;
        background-color: $clr-neutral-800;
        min-width: 48px;
        border-radius: 10px;

        &:first-of-type::after {
            content: '';
            left: 0;
            right: 0;
            bottom: -10px;
            position: absolute;
            height: 2px;
            background-color: $clr-primary;
            border-radius: 100vw;
        }
    }
}

.project-body {
    text-align: left;
}

.project-image-container {
    order: -1;
}

.project-image {
    height: 86%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}

// Media queries
@include media(lg) {
    .project-container {
        flex-direction: row;
    }

    .project-info {
        flex: 3;
    }

    .project-tech-list li {
        padding: 0.25em 0.6em 0.2em;
    }

    .project-tech-list li:first-of-type::after {
            bottom: -11px;
            height: 3px;
    }

    .project-image-container {
        flex: 4;

        .project-image {
            width: 100%;
        }
    }
}

@include media(xxl) {
    .project-tech-list li:first-of-type::after {
        bottom: -14px;
        height: 4px;
    }
}