@use '../abstracts' as *;

.card-container {
    display: grid;
    position: relative;
    gap: $spacer;
    width: $wrapper-width;
    margin-inline: auto;
}

.card {
    display: grid;
    grid-template-columns: 1fr max-content;
    width: 240px;
    margin: auto;
    border-radius: $br;
    box-shadow: $shadow;

    &:first-of-type {
        margin-top: $spacer;
    }

    .card-label {
        grid-column: 1 / 2;
        padding: $spacer-md $spacer-md 0;
        margin: 0;
        background-color: rgba($clr-primary, 0.05);
    }
}

.card-main-content {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    padding: $spacer-md;
    background-color: rgba($clr-primary, 0.05);

    .card-title {
        margin-bottom: $spacer;
    }

    .card-body {
        order: 1;
        margin-block: $spacer-md 3em;
    }
}

.card-sidebar {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: $spacer-md $spacer $spacer;

    .card-tech-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .card-tag {
        position: relative;
        text-align: center;
        margin-block: $spacer-sm;
        padding: 0.2em 0.6em;
        background-color: $clr-neutral-800;
        border-radius: 15px;

        &:first-of-type::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: -$spacer - 0.3em;
            width: 3px;
            background-color: $clr-primary;
            border-radius: 100vw;
        }
    }
}

// Swiper
.swiper {
    width: 90%;
    height: 460px;
}

.swiper-button-prev {
    top: 205px;
    left: calc(50% - 156px);
}

.swiper-button-next {
    top: 205px;
    right: calc(50% - 156px);
}

@media (min-width: 360px) {
    .swiper {
        width: 270px;
    }

    .swiper-button-prev {
        left: calc(50% - 166px);
    }
    
    .swiper-button-next {
        right: calc(50% - 166px);
    }
}

@media (min-width: 440px) {
    .swiper-button-prev {
        left: calc(50% - 200px);
    }
    
    .swiper-button-next {
        right: calc(50% - 200px);
    }
}

@include media(sm) {
    .swiper {
        width: 300px;
    }

    .swiper-button-prev {
        left: calc(50% - 200px);
    }
    
    .swiper-button-next {
        right: calc(50% - 200px);
    }
}

@include media(lg) {
    .swiper {
        width: 570px;
    }

    .swiper-button-prev {
        left: calc(50% - 380px);
    }
    
    .swiper-button-next {
        right: calc(50% - 380px);
    }
}

@include media(xl) {
    .swiper {
        width: 900px;
    }

    .swiper-button-prev {
        left: calc(50% - 500px);
    }
    
    .swiper-button-next {
        right: calc(50% - 500px);
    }
}

@include media(xxl) {
    .swiper {
        width: 1200px;
    }

    .swiper-button-prev {
        left: calc(50% - 650px);
    }
    
    .swiper-button-next {
        right: calc(50% - 650px);
    }
}