@use '../abstracts' as *;

// Default buttons
.btn {
    display: inline-block;
    padding: calc($spacer * 0.75) calc($spacer * 0.75 * 2.1) calc($spacer * 0.75);
    margin-block: 0;
    text-align: center;
    color: $clr-primary;
    font-weight: 500;
    background-color: $clr-neutral-100;
    border: 2px solid $clr-primary;
    border-radius: 10px;
    transition-property: color, background-color, border-color;
    transition-duration: 0.15s;
    cursor: pointer;

    &:hover {
        color: $clr-neutral-800;
        border: 2px solid $clr-neutral-800;
    }
}

.btn-primary {
    color: $clr-neutral-100;
    background-color: $clr-primary;
    border: 2px solid $clr-primary;

    &:hover {
        color: $clr-neutral-100;
        background-color: $clr-neutral-800;
        border: 2px solid $clr-neutral-800;
    }
}

// Hero section
.btn-hero {
    padding: $spacer-sm calc($spacer-sm * 2.1);
    border-radius: $br;

    &:hover {
        color: $clr-neutral-100;
        background-color: $clr-primary;
        border: 2px solid $clr-primary;
    }
}

.btn-hero {
    width: max-content;
    margin-top: $spacer;
}

// Showcase section
.project-btn.btn-primary {
    position: relative;

    &::before {
        content: url('../../assets/img/arrow.svg');
        position: absolute;
        bottom: calc($spacer * 0.75);
        left: 110%;
        pointer-events: none;
    }
}
.button-group {
    display: grid;
    gap: calc($spacer * 0.75);
    width: max-content;
}

// Cards section
.card-btn {
    padding: calc($spacer * 0.55);
}

// Contact section
.form-btn {
    padding: calc($spacer-sm * 1.25) calc($spacer-sm * 3);
    border-radius: 8px;
    float: right;
}

@include media(xxl) {
    .btn-hero {
        width: max-content;
        margin-top: $spacer;
    }

    .form-btn {
        float: left;
    }
}