@use '../abstracts' as *;

// Default buttons
.btn {
    display: inline-block;
    padding: calc($spacer * 0.75) calc($spacer * 0.75 * 2.1) calc($spacer * 0.75);
    margin-block: 0;
    text-align: center;
    color: $clr-primary;
    font-size: $fs-btn;
    font-weight: 500;
    background-color: $clr-neutral-100;
    border: 2px solid $clr-primary;
    border-radius: 10px;
}

.btn-primary {
    color: $clr-neutral-100;
    background-color: $clr-primary;
    border: 2px solid $clr-primary;
}

// Hero section
.btn-hero {
    padding: $spacer-sm calc($spacer-sm * 2.1);
    font-size: $fs-btn-hero;
    border-radius: $br;
}

// Showcase section
.button-group {
    display: grid;
    gap: calc($spacer * 0.75);
    width: max-content;
}

// Cards section
.card-btn {
    padding: calc($spacer * 0.55);
}