@use '../abstracts/' as *;

// Setup for the hero-section GSAP animation
h1,
.btn-hero,
.hero-body,
.hero-image {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transform: translateY(100px);
  opacity: 0;
}