@use '../abstracts/' as *;

img {
    max-width: 100%;
}

.project-image {
    width: 90%;
}

.certificate-link > img {
    width: 30px;
}

@media (min-width: 768px) {
    .project-image {
        width: 40%;
    }
}