@use '../abstracts/' as *;

// General selectors
:root {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h2,
h3,
h4 {
    margin-block: 0;
}

h2 {
    margin-top: $spacer;
}

h3 {
    margin-bottom: $spacer;
}

h3:not(.subheading) {
    margin-top: calc($spacer * 2.5);
}

p + p {
    margin-top: calc($spacer * 1.75);
}

// Images
img {
    max-width: 100%;
}

.certificate-link > img {
    width: 30px;
}

.size-lg {
    transform: scale(1.1);
}

.size-sm {
    transform: scale(0.9);
}

.size-xs {
    transform: scale(0.8);
}

.size-xxs {
    transform: scale(0.7);
}

// General layout
.container {
    margin-inline: auto;

    h3 {
        margin-left: 0;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-mt {
    margin-top: $spacer;
}

// General styles
section:not(.hero-section) {
    padding-block: $spacer-md $spacer-lg;
}

section:nth-of-type(odd) {
    background-color: $clr-neutral-100;
}

section:nth-of-type(even) {
    background-color: $clr-neutral-200;
}

.hide {
    display: none;
}

// General media queries
@media (prefers-reduced-motion: reduce) {
    :root {
        scroll-behavior: auto;
    }
}

@include media(sm) {
    h3 {
        &:not(.subheading) {
            margin-top: calc($spacer * 2.25);
        }
    }
}

@include media(md) {
    h3 {
        &:not(.subheading) {
            margin-top: calc($spacer * 2);
        }
    }
}

@include media(lg) {
    h3 {
        &:not(.subheading) {
            margin-top: calc($spacer * 1.5);
        }
    }
}

@include media(xl) {
    h3 {
        &:not(.subheading) {
            margin-top: calc($spacer * 1.35);
        }

        &::before { 
            border-radius: 5px;
        }
    }
}

