@use '../abstracts' as *;

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/poppins-light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/poppins-regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/poppins-medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/poppins-semibold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/poppins-bold.woff2') format('woff2');
    font-display: swap;
}